@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 345 100% 99%;
    --foreground: 105 100% 1%;
    --muted-foreground: 240 3.8% 46.1%;
    --primary: 184 43% 57%;
    --accent: 290 100% 75%;
    --accent-foreground: 105 100% 1%;
    --accent-subtle: 348 4% 79%;
    --destructive: 0 84.2% 60.2%;
  }

  .dark {
    --background: 105 100% 1%;
    --foreground: 345 100% 99%;
    --muted-foreground: 240 5% 64.9%;
    --primary: 184 43% 57%;
    --accent: 290 100% 75%;
    --accent-foreground: 105 100% 1%;
    --accent-subtle: 96 5% 19%;
    --destructive: 0 84.2% 60.2%;
  }

  #root {
    background-image: url("/background-light.png");
    background-repeat: repeat;
    background-position-x: center;
  }

  .dark #root {
    background-image: url("/background-dark.png");
  }

  html,
  body,
  #root {
    background-color: hsl(var(--background));
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  .root-background {
    background-image: url("/background-light.png");
    background-repeat: repeat;
    background-position-x: center;
  }

  .dark .root-background {
    background-image: url("/background-dark.png");
  }
}
