@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --primary: 240 5.9% 10%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted-foreground: 240 5% 64.9%;
    --primary: 0 0% 98%;
  }

  #root {
    background-image: url("/background-light.png");
    background-repeat: repeat;
  }

  .dark #root {
    background-image: url("/background-dark.png");
  }

  html,
  body,
  #root {
    background-color: hsl(var(--background));
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
}
