@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255, 255, 255;
    --background-card: 255, 251, 247;
    --foreground: 0, 3, 0;
    --muted-foreground: 118, 118, 118;
    --primary: 64, 191, 191;
    --accent: 64, 191, 191;
    --accent-foreground: 0, 3, 0;
    --accent-subtle: 202, 202, 202;
    --destructive: 255, 38, 38;
  }

  .dark {
    --background: 0, 3, 0;
    --background-card: 15, 15, 15;
    --foreground: 255, 255, 255;
    --muted-foreground: 165, 165, 165;
    --primary: 64, 191, 191;
    --accent: 64, 191, 191;
    --accent-foreground: 0, 3, 0;
    --accent-subtle: 48, 48, 48;
    --destructive: 255, 38, 38;
  }

  #root {
    background-image: url("/background-light.png");
    background-repeat: repeat;
    background-position-x: center;
  }

  .dark #root {
    background-image: url("/background-dark.png");
  }

  html,
  body,
  #root {
    background-color: rgb(var(--background));
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  .root-background {
    background-image: url("/background-light.png");
    background-repeat: repeat;
    background-position-x: center;
  }

  .dark .root-background {
    background-image: url("/background-dark.png");
  }
}
